* {
    box-sizing: border-box;
  }

body{
    background-color: #f7f7f7;
    min-height: 100vh;
    margin: 10px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#time-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.time-date {
    padding: 0px 10px;
}

.data-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col {
    padding: 20px;
    /* width: 500px; */
    width: auto;
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    border-radius: 5px;
}

.row > * {
    padding: 30px 50px;
    white-space: nowrap;
}

.table-title {
    text-align: center;
    font-weight: bold;
}

/* .table-top {
    border-top: none;
} */

#table1Div {
    text-align: center;
}

.map-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#issMap {
    height: 500px;
    width: 1065px;
    margin: 20px 40px;
    border: 1px solid black;
    border-radius: 5px;
}
