* {
    box-sizing: border-box;
  }

body{
    background-color: #f7f7f7;
    background-image: url("earth.jpg");
    background-repeat: no-repeat;
    background-position: 0, 0;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.left-container {
    text-align: center;
    padding: 0px 10px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#time-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.time-date {
    margin-bottom: 5px;
    padding: 0px 10px;
}

.controls {
    display:grid;
    grid-template-columns: 150px 250px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    white-space: nowrap;
}

#controls-top {
    padding: 0px 75px;
}

#controls-bottom {
    padding: 0px 92px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.map-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#issMap {
    height: 500px;
    width: 800px;
    border: 1px solid black;
    border-radius: 5px;
}

.data-container{
    background-color: white;
    width: auto;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.data-tabs {
    flex-wrap: nowrap;
    white-space: nowrap;
}

.row > * {
    padding: 30px 50px;
    white-space: nowrap;
}

#table1Div {
    text-align: center;
}

tbody > tr:last-child > td, th {
    border-bottom: 0;
  }

